.card {
  &__content {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin: 0 5px;
  }

  &__start {
    background-color: $rev-background;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px 2px 0 0;
    color: $rev-foreground;
    cursor: pointer;
    font-weight: 400;
    height: 50vw;
    position: relative;
    width: 100%;

    &--cat-forest {
      background-image: $g-forest;
    }

    &--cat-beach {
      background-image: $g-beach;
    }

    &--cat-town {
      background-image: $g-town;
    }

    &::after {
      @include transition(height);
      background-image: linear-gradient(
        -180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.45) 100%
      );
      bottom: 0;
      content: '';
      display: block;
      height: 65px;
      position: absolute;
      width: 100%;
    }
  }

  &__title {
    @include transition(bottom);
    position: absolute;
    bottom: 25px;
    padding: 10px 10px;
    font-size: 1.714em;
    // transition: bottom 0.4s ease 0.2s;
    width: 100%;
    z-index: 100;
  }

  &__relevant {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 10px;
  }

  &__relevant-link {
    background: $light;
    border-radius: 3px;
    color: $background;
    display: block;
    font-size: 0.785em;
    padding: 4px 10px;
    margin: 0 10px 5px 0;
    text-decoration: none;
    transition: background 0.2s ease;

    &:hover {
      background: $foreground;
    }
  }

  &__details > :last-child {
    padding-bottom: 40px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 10px;
  }

  &__action {
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: box-shadow 500ms;

    &:hover {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    }
  }

  &__description {
    padding: 0 10px 30px 10px;
    line-height: 1.6;
  }

  &__id {
    color: $light;
    text-align: center;
    font-size: 0.785em;
    font-weight: 500;
    position: relative;
  }

  &__date {
    color: $light;
    padding: 25px 0 10px 0;
    text-align: center;
    font-size: 0.785em;
    font-weight: 500;
    position: relative;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='16px' height='8px' viewBox='0 0 16 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Primary' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Mobile' transform='translate(-152.000000, -1338.000000)' stroke='%23979797'%3E%3Cpolyline id='Path' points='153 1344.91673 159.916727 1338 167.022795 1345.10607'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__activity,
  &__effort,
  &__distance,
  &__favorite {
    @include transition(all);
    height: 30px;
    margin: 10px 5px;
    width: 30px;

    ::v-deep .icon-fill {
      fill: $foreground;
      fill-opacity: 0.5;
    }
  }

  &__attributes {
    @include transition(all);
    background: $background;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    border-bottom: 2px solid $foreground;
    border-radius: 2px;
    bottom: -25px;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    overflow-y: hidden;
    position: absolute;
    width: 100%;

    ::v-deep .icon-default {
      fill-opacity: 0.3;
    }

    &--cat-forest {
      border-color: $forest;

      .card__favorite ::v-deep .icon-fill {
        fill: $forest;
        fill-opacity: 1;
      }
    }

    &--cat-beach {
      border-color: $beach;

      .card__favorite ::v-deep .icon-fill {
        fill: $beach;
        fill-opacity: 1;
      }
    }

    &--cat-town {
      border-color: $town;

      .card__favorite ::v-deep .icon-fill {
        fill: $town;
        fill-opacity: 1;
      }
    }
  }

  &__stats,
  &__modifiers {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  &__edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__toggle-update {
    &--size-small {
      font-size: 11px;
      padding: 4px 8px;
    }
  }

  // ----
  // Grid modifiers
  @media screen and (min-width: $bp-small) {
    &__start {
      height: 30vw;
    }
  }

  @media screen and (min-width: $bp-medium) {
    &__start {
      height: 20vw;
    }
  }

  @media screen and (min-width: $bp-large) {
    &__start {
      height: 10vw;
    }
  }

  // ----
  // Whole card hover effects
  &:hover {
    .card__title {
      bottom: 35px;
    }

    .card__start {
      &::after {
        height: 105px;
      }
    }

    .card__attributes {
      height: 60px;
    }

    .card__activity,
    .card__effort,
    .card__distance,
    .card__favorite {
      height: 40px;
      width: 40px;
    }
  }

  // Card open effects
  .card__start--open {
    .card__title {
      bottom: 0;
    }

    &::after {
      height: 105px;
    }
  }
}
