.grid__wrapper {
  margin: 0 15px;
}

.grid__card {
  margin-bottom: 50px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .grid__wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .grid__card {
    width: 48%;
  }
}

@media screen and (min-width: 900px) {
  .grid__card {
    width: 32%;
  }
}

@media screen and (min-width: 1200px) {
  .grid__card {
    width: 24%;
  }
}
