@import '../elements/variables';

.grid {
  &__wrapper {
    margin: 0 15px;
  }

  &__card {
    margin-bottom: 50px;
    position: relative;
  }
  
  @media screen and (min-width: $bp-small) {
    &__wrapper {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__card {
      width: 48%;
    }
  }
  
  @media screen and (min-width: $bp-medium) {
    &__card {
      width: 32%;
    }
  }
  
  @media screen and (min-width: $bp-large) {
    &__card {
      width: 24%;
    }
  }
}