.controls__wrapper {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.controls__title {
  font-weight: 400;
  text-align: center;
  margin: 0 0;
  padding: 20px 60px;
}

.controls__toggle {
  transition: color 0.2s ease;
  color: #cfcfcf;
  cursor: pointer;
  text-align: center;
  font-size: 0.785em;
  font-weight: 500;
  padding: 30px 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.controls__toggle:hover {
  color: #8dcfe1;
}

.controls__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.controls__delete, .controls__create {
  background-color: #cfcfcf;
  font-size: 14px;
}
