.update {
  &__form {
    padding: 20px 10px;
  }

  &__field {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;

    @media screen and (min-width: $bp-small) {
      flex: 1;
    }
  }

  &__label {
    padding: 6px 10px 6px 20px;
    text-align: right;
    width: 40%;
  }

  &__input {
    width: 60%;

    &--type-radio {
      border: none;
      box-shadow: none;
      padding-top: 3px;

      input {
        margin-right: 10px;
      }
    }
  }

  &__submit {
    width: 100%;
  }

  &__response {
    background-color: $light;
    border-radius: 3px;
    box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    color: $rev-foreground;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
  }
}
