@import 'variables';

* {
  box-sizing: border-box;
}

body {
  background: $background;
  color: $foreground;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 500;
}

button {
  @include transition(background-color);
  background-color: $accent;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  color: $rev-foreground;
  cursor: pointer;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 20px;

  &:hover {
    background-color: $rev-background;
  }

  &.small {
    font-size: 11px;
    padding: 4px 8px;
  }
}

input,
select,
textarea {
  border: 1px solid $light;
  border-radius: 3px;
  box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  padding: 6px 10px;

  &:focus {
    border-bottom: 1px solid $accent;
    outline: none;
  }

  &[type='radio'] {
    border: none;
    box-shadow: none;
    width: auto;
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: max-height 1s ease;
}

.slide-enter-to,
.slide-leave {
  max-height: 800px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
  overflow: hidden;
}
